In [1]:
import tensorflow as tf

# Check if TensorFlow can detect the GPU
gpus = tf.config.list_physical_devices('GPU')

if gpus:
    print(f"Found {len(gpus)} GPU(s):")
    for gpu in gpus:
        print(f"- {gpu}")
else:
    print("No GPU found. Running on CPU.")

2025-03-01 20:04:54.857876: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-03-01 20:04:55.876261: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2025-03-01 20:04:56.332897: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1740852296.877589    5463 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1740852297.212907    5463 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-03-01 20:04:59.402035: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

No GPU found. Running on CPU.

W0000 00:00:1740852308.966468    5463 gpu_device.cc:2344] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [2]:
import pandas as pd
df = pd.read_csv("student_data.csv")
df.head()

,Student_ID,First_Name,Last_Name,Roll_No,Class,Section,Age,Gender,School_Name,Joining_Date,...,Medical_Condition,Sports_Enrolled,Extracurricular_Activities,Library_Books_Borrowed,Bus_Route_No,Fees_Paid_Status,Scholarship_Eligibility,Volunteer_Hours,Disciplinary_Actions,Counseling_Sessions
0,1000,Samantha,Sutton,51,8,C,17,Other,"Hall, Mann and Allen",2018-12-26,...,Allergies,Basketball,Drama,5,5,Paid,No,80,5,5
1,1001,Jacqueline,Cox,80,3,A,11,Female,"Taylor, Le and Waller",2017-09-27,...,Heart Condition,Tennis,Music,6,6,Pending,No,30,3,2
2,1002,Stephanie,Taylor,42,4,B,12,Male,"Roberts, Copeland and Montgomery",2020-12-01,...,Diabetes,Tennis,Drama,25,4,Paid,Yes,87,2,1
3,1003,Michael,Perez,6,11,C,6,Other,Munoz PLC,2015-11-04,...,Allergies,Basketball,Music,30,1,Pending,No,46,9,0
4,1004,Blake,Powers,4,7,B,9,Other,Freeman Ltd,2017-09-06,...,Asthma,NaN,Drama,33,11,Paid,Yes,42,4,2

In [3]:
x = df["Age"].mean()
print(x)

12.004017

In [4]:
print(df.memory_usage(deep=True))

Index                               128
Student_ID                      8000000
First_Name                     63032471
Last_Name                      63072036
Roll_No                         8000000
Class                           8000000
Section                        58000000
Age                             8000000
Gender                         62000748
School_Name                    73541230
Joining_Date                   67000000
Subjects_Enrolled               8000000
Math_Grade                      8000000
Science_Grade                   8000000
English_Grade                   8000000
History_Grade                   8000000
Geography_Grade                 8000000
Total_Grade                     8000000
Performance_Score               8000000
Discipline_Score                8000000
Average_Attendance              8000000
Parent_1_Name                  70274220
Parent_2_Name                  70271933
Parent_1_Phone                 73160645
Parent_2_Phone                 73160782
Parent_1_Email                 78828236
Parent_2_Email                 78828103
Parent_1_Occupation            77814344
Parent_2_Occupation            77817661
Address                       101723455
City                           69045639
State                          59000000
ZIP_Code                        8000000
Emergency_Contact              73163897
Medical_Condition              59566608
Sports_Enrolled                56246448
Extracurricular_Activities     56016428
Library_Books_Borrowed          8000000
Bus_Route_No                    8000000
Fees_Paid_Status               62998465
Scholarship_Eligibility        59500266
Volunteer_Hours                 8000000
Disciplinary_Actions            8000000
Counseling_Sessions             8000000
dtype: int64

In [5]:
print(df.dtypes)

Student_ID                     int64
First_Name                    object
Last_Name                     object
Roll_No                        int64
Class                          int64
Section                       object
Age                            int64
Gender                        object
School_Name                   object
Joining_Date                  object
Subjects_Enrolled              int64
Math_Grade                     int64
Science_Grade                  int64
English_Grade                  int64
History_Grade                  int64
Geography_Grade                int64
Total_Grade                    int64
Performance_Score              int64
Discipline_Score               int64
Average_Attendance             int64
Parent_1_Name                 object
Parent_2_Name                 object
Parent_1_Phone                object
Parent_2_Phone                object
Parent_1_Email                object
Parent_2_Email                object
Parent_1_Occupation           object
Parent_2_Occupation           object
Address                       object
City                          object
State                         object
ZIP_Code                       int64
Emergency_Contact             object
Medical_Condition             object
Sports_Enrolled               object
Extracurricular_Activities    object
Library_Books_Borrowed         int64
Bus_Route_No                   int64
Fees_Paid_Status              object
Scholarship_Eligibility       object
Volunteer_Hours                int64
Disciplinary_Actions           int64
Counseling_Sessions            int64
dtype: object

In [6]:
ageOnly = df["Age"]
print(ageOnly)

0         17
1         11
2         12
3          6
4          9
          ..
999995    17
999996    13
999997    12
999998    15
999999     7
Name: Age, Length: 1000000, dtype: int64

In [7]:
ageOnly = ageOnly.astype('float')
print(ageOnly)

0         17.0
1         11.0
2         12.0
3          6.0
4          9.0
          ...
999995    17.0
999996    13.0
999997    12.0
999998    15.0
999999     7.0
Name: Age, Length: 1000000, dtype: float64

In [8]:
ageOnly.mean()

np.float64(12.004017)

In [9]:
print(df.isna().sum())

Student_ID                         0
First_Name                         0
Last_Name                          0
Roll_No                            0
Class                              0
Section                            0
Age                                0
Gender                             0
School_Name                        0
Joining_Date                       0
Subjects_Enrolled                  0
Math_Grade                         0
Science_Grade                      0
English_Grade                      0
History_Grade                      0
Geography_Grade                    0
Total_Grade                        0
Performance_Score                  0
Discipline_Score                   0
Average_Attendance                 0
Parent_1_Name                      0
Parent_2_Name                      0
Parent_1_Phone                     0
Parent_2_Phone                     0
Parent_1_Email                     0
Parent_2_Email                     0
Parent_1_Occupation                0
Parent_2_Occupation                0
Address                            0
City                               0
State                              0
ZIP_Code                           0
Emergency_Contact                  0
Medical_Condition             200824
Sports_Enrolled               250088
Extracurricular_Activities    249448
Library_Books_Borrowed             0
Bus_Route_No                       0
Fees_Paid_Status                   0
Scholarship_Eligibility            0
Volunteer_Hours                    0
Disciplinary_Actions               0
Counseling_Sessions                0
dtype: int64

In [10]:
print((df == " ").sum())

Student_ID                    0
First_Name                    0
Last_Name                     0
Roll_No                       0
Class                         0
Section                       0
Age                           0
Gender                        0
School_Name                   0
Joining_Date                  0
Subjects_Enrolled             0
Math_Grade                    0
Science_Grade                 0
English_Grade                 0
History_Grade                 0
Geography_Grade               0
Total_Grade                   0
Performance_Score             0
Discipline_Score              0
Average_Attendance            0
Parent_1_Name                 0
Parent_2_Name                 0
Parent_1_Phone                0
Parent_2_Phone                0
Parent_1_Email                0
Parent_2_Email                0
Parent_1_Occupation           0
Parent_2_Occupation           0
Address                       0
City                          0
State                         0
ZIP_Code                      0
Emergency_Contact             0
Medical_Condition             0
Sports_Enrolled               0
Extracurricular_Activities    0
Library_Books_Borrowed        0
Bus_Route_No                  0
Fees_Paid_Status              0
Scholarship_Eligibility       0
Volunteer_Hours               0
Disciplinary_Actions          0
Counseling_Sessions           0
dtype: int64